<!DOCTYPE HTML>
<html>
	<head>
		<title>Algo-Leeds</title>
		<meta charset="UTF-8">
	</head>
	<body>

	<a href="/algoleeds/backTracking">
		<input type="button" value="Backtracking Programming으로 살펴보기" class="primary" />
	</a>
	<a href="/algoleeds/dfs">
		<input type="button" value="DFS로 살펴보기" class="primary" />
	</a>


	<h2>&nbsp&nbsp&nbspDynamic Programming입니다.</h2>


	<!-- 알고리즘 방법 시작 -->
	<br><h4> &nbsp&nbsp&nbsp 문제</h4>
	<br> &nbsp&nbsp&nbsp Item 1의 이윤 : 4 / 무게 : 1
	<br> &nbsp&nbsp&nbsp Item 2의 이윤 : 5 / 무게 : 3
	<br> &nbsp&nbsp&nbsp Item 3의 이윤 : 6 / 무게 : 4
	<br> &nbsp&nbsp&nbsp 최대 무게 : 9

	<br>

	<br> &nbsp&nbsp&nbsp 가방에 최대 무게 9가 넘지 않도록 Item들을 0개 혹은 1개만 넣을 수 있을 때,
	<br> &nbsp&nbsp&nbsp 최대 이익이 되도록 넣을 수 있는 방법은?

	<br>
	
	&nbsp&nbsp&nbsp <img src="/images/DP.png" alt="" style="width:800px; height:200px;" />


	<br><h4> &nbsp&nbsp&nbsp 풀이</h4>

		&nbsp&nbsp&nbsp solution을 표로 나타내보고 ‘무게’ 열과 ‘아이템 항목’ 행으로 벡터 S로 구성해보았다.
		<br>&nbsp&nbsp&nbsp
		<br>&nbsp&nbsp&nbsp S[3][9] = max ( S[2][9], S3 + S[2][5] )
		<br>&nbsp&nbsp&nbsp S[2][9] = 9  /  S3 + S[2][5] = 15
		<br>&nbsp&nbsp&nbsp S[2][5] = max ( S[1][5], S2 + S[1][2] )
		<br>&nbsp&nbsp&nbsp S[1][5] = 4  /  S2 + S[1][2] = 9
		<br>&nbsp&nbsp&nbsp S[1][2] = max ( S[0][2], S1 + S[0][1] )
		<br>&nbsp&nbsp&nbsp S[0][2] = 0  /  S1 + S[0][1] = 4

		<br>&nbsp&nbsp&nbsp 따라서 solution vector = (1, 1, 1)



	</body>
</html>