<!DOCTYPE HTML>
<html>
<head>
	<title>Algo-Leeds</title>
	<meta charset="UTF-8">
</head>
<body>
<h3>안녕하세요</h3>



<button style="background-color: aquamarine">
	<a href="/algoleeds/dynamicProgramming" style="color:black">
		Dynamic Programming으로 살펴보기
	</a>
</button>


<button style="background-color: aquamarine">
	<a href="/algoleeds/backTracking">
		Backtracking Programming으로 살펴보기
	</a>
</button>

<button style="background-color: aquamarine">
	<a href="/algoleeds/dfs" >
		DFS로 살펴보기
	</a>
</button>


</body>
</html>